#set($uiroot="$root/ui")
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="$root/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <title>#if($pageTitle) $pageTitle #else Environment Registry data preparation #end</title>
    <link type="text/css" rel="stylesheet" href="$root/css/ui.css" />
    <link type="text/css" rel="stylesheet" href="$root/css/jquery.dataTables.css" />
    <link href="$root/css/bootstrap-editable.css" rel="stylesheet"/>

    #if($extraCSS)
      #foreach($file in $extraCSS.split(","))
        <link type="text/css" rel="stylesheet" href="$root/css/$file" />
      #end
    #end

    #if($extraCSSRaw)
      #foreach($file in $extraCSS.split(","))
        <link type="text/css" rel="stylesheet" href="$file" />
      #end
    #end
    <script type="text/javascript" src="$root/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="$root/js/jquery.form.js"></script>
  </head>

  <body>
