#parse("header.vm")
#parse("navbar.vm")
<div class="container">
  #if($user)
    <h2>Your current projects</h2>
    <table class="table">
    #foreach($project in $projectManager.listUserProjects($subject.principal.openid))
      <tr>
        <td>
          <div class="row">
            <form role="form" action="$root/system/delete-project" method="post">
              <div class="col-md-4">
                <a href="$root/project/$project.root">$project.shortname</a>
              </div>
              <input type="hidden" name="project" value="$project.root" />
              <div class="col-md-offset-1 col-md-1">
                <button class="btn btn-sm" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
              </div>
            </form>
          </div>
        </td>
      </tr>
    #end
    </table>
  #else
    <h2>Welcome to the Data Preparation service</h2>
    <p>Login or register to access your user area then use
        <em>New Project</em> to start a new data conversion project.</p>
    <p>
        Once you have a project you can upload the data to be converted along 
        with any requried metadata.</p>
  #end
#parse("footer.vm")
