#set($p=$projectManager.getProject($project))
#set($metadata = $p.metadata)
#set($pageTitle="Project $p.shortname")
#parse("header.vm")
#parse("navbar.vm")
<div class="container">
  <h2>Project: $p.shortname</h2>
  <div class="row">
    <div class="col-md-2"> <h4>Label:</h4> </div>
    <div class="col-md-10
    9">$metadata.label</div>
  </div>
  <div class="row">
    <div class="col-md-2"> <h4>Description:</h4> </div>
    <div class="col-md-10">$metadata.description</div>
  </div>

  #if($p.templateName && $p.sourceFile && $metadata.category)
    <p>Project is ready to run conversion</p>
  #else
    <p>Prepare project:
      <ul>
        #if(!$p.sourceFile)
          <li>load source file</li>
        #end
        #if(!$p.templateName)
          <li>choose or upload a conversion template</li>
        #end
        #if(!$metadata.category)
          <li>update the metadata for the code list</li>
        #end
      </ul>
    </p>
  #end

  <ul class="nav nav-tabs">
    <li #if(!$tab)class="active"#end><a href="#data" data-toggle="tab">Data #if($p.sourceFile)<span class="glyphicon glyphicon-ok"></span>#end</a></li>
    <li #if($tab == "template")class="active"#end><a href="#template" data-toggle="tab">Template #if($p.templateName)<span class="glyphicon glyphicon-ok"></span>#end</a></li>
    <li #if($tab == "metadata")class="active"#end><a href="#metadata" data-toggle="tab">Metadata #if($metadata.category)<span class="glyphicon glyphicon-ok"></span>#end</a></li>
    #if($p.templateName && $p.sourceFile && $metadata.category)
    <li><a href="#conversion" data-toggle="tab">Conversion</a></li>
    #end
    #if($tab == "browse")
    <li active><a href="#browse" data-toggle="tab">Browse</a></li>
    #end
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    #parse("tab-datasource.vm")

    #parse("tab-template.vm")

    #parse("tab-metadata.vm")

    <div class="tab-pane" id="conversion">
      <button type="button" class="btn btn-default ajax-run" data-target="#progressPanel" data-action="$uiroot/run-conversion?project=$p.root">Run conversion</button>
      #if($p.resultFile)
        <button type="button" class="btn btn-default ajax-run" data-target="#progressPanel" data-action="$uiroot/show-data?project=$p.root">Show data</button>
      #end
      <div class="space-above" id="progressPanel"></div>
    </div>

    #if($tab == "browse")
    <div class="tab-pane active" id="browse">
      #set($result = $p.wrappedResult)
      #set($r = $result.model.getNode($uri))
      <h3>Browsing: $r.name</h3>
      #if ($r.listProperties().isEmpty())
        <p>Nothing known locally, try external link: <a href="$uri">$uri</a></p>
      #else
        #restable($r, "table-striped table-bordered table-condensed")
      #end
    </div>
    #end

  </div>

#parse("footer.vm")
