## Support for template selection and viewing

    <div class="tab-pane #if($tab == 'template')active#end" id="template">
      #if($p.templateName)
        #set($template = $p.template)
        <h4>Template: $template.name</h4>
        <p>$template.description</p>
        #listColumns("Columns required for the template", $template.required())
        #listColumns("Optional columns", $template.optional())
        #if(!$template.isApplicableTo($p.preview(500).headers))
          <div class="alert alert-danger">Template does not match data. Missing: 
            #foreach($missing in $p.missingColumns())
              $missing 
            #end
          </div>
        #end
      #end
      <form class="form-inline" role="form" action="$root/system/select-template" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <label for="select1">Choose a conversion template:</label>
          <select class="form-control auto-submit" id="select1" name="template">
            <option value="">Choose ...</option>
            #foreach($template in $p.dataContext.listTemplates())
            <option #if($p.templateName && $p.templateName == $template.name)selected#end>$template.name</option>
            #end
          </select>
        </div>
        <div class="form-group">
          <label for="file1">Or upload a file:</label>
          <input class="form-control" type="file" id="file1" name="file">
        </div>
        <input type="hidden" name="project" value="$p.root" />
        <input type="hidden" name="tab" value="template" />
        <button type="submit" class="btn btn-default">upload</button>
      </form>
      #if($p.templateName)
        <div class="panel-group space-above">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTemplate" href="#collapseTemplate">Template source</a>
              </h4>
            </div>
            <div id="collapseTemplate" class="panel-collapse collapse">
              <div class="panel-body">
                <pre>$lib.escapeHtml($template.source)</pre>
              </div>
            </div>
          </div>
        </div>
      #end
    </div>
