## Support for metadata editing

    <div class="tab-pane #if($tab == 'metadata')active#end" id="metadata">
      <form class="form-horizontal" role="form" action="$root/system/update-metadata" method="post">
        <div class="form-group">
            <label for="i1" class="col-md-2 control-label">Shortname</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="i1" name="shortname" value="$metadata.shortname">
            </div>
        </div>
        <div class="form-group">
            <label for="i2" class="col-md-2 control-label">Label</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="i2" name="label" value="$metadata.label">
            </div>
        </div>
        <div class="form-group">
            <label for="i3" class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="i3" name="description" value="$metadata.description">
            </div>
        </div>
        #categorySelect("category", "Category", $metadata.category)
        #categorySelect("entityType", "Entity Type", $metadata.entityType)
        #categorySelect("owner", "Owner", $metadata.owner)
        <div class="form-group">
            <label for="i4" class="col-md-2 control-label">License</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="i4" name="license" value="$metadata.license">
            </div>
        </div>
        <div class="form-group">
            <label for="i5" class="col-md-2 control-label">Attribution text</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="i5" name="attributionText" value="$metadata.attributionText">
            </div>
        </div>
        <input type="hidden" name="project" value="$p.root" />
        <input type="hidden" name="tab" value="metadata" />
        <button type="submit" class="btn btn-default">Update</button>
      </form>
    </div>
